{% extends "layout.html" %}
{% block body %}

<h1 class="display-3">Salas UBB</h1>
<div class="row">
    <div class="col-md-5">
      {% with messages = get_flashed_messages()  %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      <div class="card card-body">
        <form action="{{url_for('buscador')}}" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="sa_id" placeholder="Ej: 101">
              </div>
          <button class="btn btn-primary btn-block">
            <a href="/ocupacion/{{contact.4}}" class="btn btn-secondary">Buscar</a>
          </button>
        </form>
      </div>
    </div>
    <div class="col-md-7">
      
    </div>
  </div>
</div>

{% endblock %}
